{% extends 'base.html' %}
{% load static %}

{% block styles%}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
{{block.super}}

    <div class="row tags">
        <ul class="list-unstyled">
            {% for tag in tags %}
            <div class="col-md-2">
                <a href="{% url 'tag' tag.id %} ">
                    <li class="taglist">{{tag.name}} </li>
                </a>
            </div>
            {% endfor %}
        </ul>
    </div>
    
    <h1>Darkroom</h1>
    <p>Beautiful, free photos.<br> 
        Gifted by the world's most generous community of photographers</p>
    
    
    
        <br>
    <div class="row">
        {% for photo in photos %}
        <!--Display images  -->
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
            <a href="{% url 'photo' photo.id %} ">
                <img src="{{photo.photo_image.url}}" class="img-responsive" alt="name">
            </a>
        </div>
        
    
    </div>
    {% empty %}
    <div class="row">
        <h2 class="text-center">There are No  photos </h2>
    </div>
    {% endfor %}

    {% endblock %}