.tagslist li{
  float: left;
}

.tags{
  padding: 0px;
}

img.tag_image{
  width: 100%;
  height: 3em;
  border-radius: 10px;
  border-style: solid #000;
}
.photo-image{
  cursor: zoom-in;
}

.photo-div {
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}   

.photo-div img { 
    width: 100%; 
    margin: 12px 0px;
}

@media only screen and (max-width: 500px) { 
    .photo-div {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
    }       
}

.tags a{
  color: whitesmoke;
}
.tags a :hover{
  color: yellowgreen;
}