{% extends 'base.html' %}
{% load static %}

{% block styles%}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}

{% block content %}
{{block.super}}

    <div class="row tags">
        <ul class="list-unstyled">
            {% for tag in tags|slice:":11"%}
            <div class="col-md-1 col-sm-2 col-xs-2 col-lg-1" >
                <a href="{%url 'tag' tag.id%}"> <img src="{{tag.tag_photo.url}}" alt=""  height="40px" width="100" class="tag_image">
                    <h4><span class="tag_names">{{tag.name}}</span></h4>
                </a>
            </div>
            {% endfor %}
        </ul>
    </div>
    <br>
    <div>
        <h1>Darkroom</h1>
        <p>Beautiful, free photos.<br> 
            Gifted by the world's most generous community of photographers</p>
    </div>
    
    
    

    
        <div class="photo-div">
            {% for photo in photos %}
                <div class="image-container">
                    <a href="{% url 'photo' photo.id %}">
                        <div class="after"></div>
                        <img src="{{photo.photo_image.url}}" class="img-responsive photo-image" alt="name">
                    </a>
                </div>         
            {% empty %}
            <div class="row">
                <h2 class="text-center">There are no images</h2>
            </div>
            {% endfor %}
        </div>
    


    {% endblock %}