{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block styles%}
  {% bootstrap_css%}
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock %}
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" id="nav" >
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'Home' %}" ><i class="glyphicon glyphicon-camera glyph"></i></a>
      </div>
      <!-- Adding a search form -->
      <div class="col-sm-4 col-md-4 navbar-left">
        
        <form action="{% url 'search_results' %} " class="navbar-form" role="search" id="search">

          
            <input type="text" class="search" placeholder="Search tag" name="tag">
            <button class="search-button" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </form>
      </div>
      <!-- search form end -->
      <!-- <div class=" col-sm-4 col-md-4 navbar-right" id="">
        <div class="navbar-nav">
          <a class="navbar-item nav-link">Home</a>
          <a class="navbar-item nav-link" >Colections</a>
          <a class="navbar-item nav-link">Explore</a>
        </div> -->

      </div>
    </div>
  </nav>
</body>
</html>