{% extends 'base.html' %}
{% load static %}

{% block styles%}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
{{block.super}}
<div class="container-fluid">
  <div class="row">
    {% if tags%}
      <h2>Found {{ photos|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 tags for the search term {{message}}</h2>
    {% endif %}

  </div>
</div>

  <div class="row">

  {% if photos %}
    {% for photo in photos %}
    <div class="col-md-4" >
      <a href="{% url 'photo' photo.id %} ">
        <img src="{{photo.photo_image.url}}" class="img-responsive" alt="name">
       </a>
    </div>
    {% endfor %}
  {% endif %}
  </div>
{% endblock %}