{% extends 'base.html' %}
{% load static %}

{% block styles%}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
{{block.super}}
  <div class="container-fluid">
    <div class="row">
        <h3>{{tag.name}}'s Images</h3>
    </div>
  </div>

  <div class="row">
    {% for photo in photos %}
    <div class="col-md-4" >
      <a href="{% url 'photo' photo.id %} ">
        <img src="{{photo.photo_image.url}}" class="img-responsive" alt="name">
       </a>
    </div>
    {% endfor %}
  </div>
{% endblock %}